#LIVEKIT
LIVEKIT_URL=wss://abcdef.livekit.cloud
LIVEKIT_API_KEY=API12345
LIVEKIT_API_SECRET=abcdefghijklmnopqrstuvwxyz12345678910

AGENT_NAME=voice-ai-agent

#QDRANT
QDRANT_URL=https://your-qdrant-instance
QDRANT_API_KEY=your_qdrant_api_key

#OPENAI KEY
OPENAI_API_KEY="sk-proj-abcdefghijklmnopqrstuvwxyz12345678910"
#ELEVEN LAB KEY
ELEVEN_API_KEY="sk_abcdefghijklmnopqrstuvwxyz12345678910"
#ELEVEN LAB VOICE
VOICE_ID=cgSgspJ2msm6clMCkdW9
VOICE_MODEL=eleven_turbo_v2
VOICE_STABILITY=0.5
VOICE_SIMILARITY=0.75
VOICE_SPEED=1.0